<div>
    <div class="col-md-3 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 col-md-offset-4 login-container">
        <form ng-submit="loginUser()">
            <input class="form-control login-control" type="text" placeholder="Username" ng-model="username" autofocus>
            <input class="form-control login-control" type="password" placeholder="Password" ng-model="password">
            <div class="pull-right">
                <input type="button" ng-click="signupUser()" class="btn btn-info login-control" value="Register">
                <button class="btn btn-primary login-control" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>