
/* Fonts */
@font-face {
    font-family: 'Carnival';
    src: url(../fonts/Freakshow.ttf);
}

/* Body and general themes */
.bg-color-theme {
    background: #ffab91;
}
body { 
    padding-top: 50px; 
    background-color: #fbe9e7;
}

/* Top navbar related */
.navbar-top-logo {
    margin-bottom: 5px;
    margin-left: 10px;
    height: 50px;
}
.navbar-top-title {
    font-family: 'Carnival';
    vertical-align: middle;
    margin-left: 20px;
    font-size: 40px;
}

/* Login form related   */
.login-container {
    margin-top: 100px;
    text-align: center;
    border: solid;
    border-radius: 5px;
    padding: 10px;
}
.login-control {
    margin-top: 5px;
}

/* Related to left navbar */
.navbar-left {
    float: left;
    overflow: auto;
    position: fixed;
    height: 100%;
    color:skyblue;
    background-color: #d84315 ;
    margin-bottom: 100px;
}
.navbar-left-menu {
    margin-top: 20px;
}
.navbar-left-menu > li {
    margin-top: 10px;
}
.navbar-left-menu > li > a {
    border: solid;
    border-radius: 5px;
    color: #ffffff;
}
.navbar-left-menu > li > a:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Profile display page */
.profile-container {
    padding: 0px;
}
.profile-title-container {
    display: block;
    font-size: 20px;
    margin-top: 5px;
    background-color: rgba(156, 39, 176, 0.3);
    margin: none;
    padding: 5px;
}
.profile-title {
    margin-left: 5px;
}
.profile-picture-container {
    float: right;
    border: solid;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    width: fit-content;
    border-radius: 5px;
}
.profile-picture {
    height: 100px;
}